= favicon_link_tag "favicon.ico"
= stylesheet_link_tag 'https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,700italic,400,300,600,700', 'application'
= javascript_include_tag 'application'
%meta{property: 'fb:app_id', content: '649773211789955'}
= yield(:meta)
%meta{name: "viewport", content: "width=device-width, initial-scale=1"}

= csrf_meta_tags
