!!!
%html
  %head= render partial: 'layouts/head_common'
  %head= render partial: 'codehire-ux/layouts/head'
  %body
    /= render partial: 'layouts/facebook'
    = render partial: 'codehire-ux/layouts/header_wrap'
    .wrap
      .container-fluid
        = yield

        = render partial: 'codehire-ux/layouts/footer'

    /<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-553f802c2538ac15" async="async"></script>
    <script src="//my.hellobar.com/fbad58c55f0da312e38d1dd36deb75b7800bd490.js" type="text/javascript" charset="utf-8" async="async"></script>
    = render partial: 'codehire-ux/layouts/ga'
